@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.custom-placeholder::placeholder {
    color: var(--secondary-text-color);
}

.hide-scrollbar {
  	-ms-overflow-style: none !important;  /* IE et Edge */
  	scrollbar-width: none !important;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  	display: none !important;             /* Chrome, Safari, Opera */
}