:root {
	/* Backgrounds */
	--primary-background-color: oklch(98% 0.01 255);
	--secondary-background-color: oklch(96% 0.015 255);
	--tertiary-background-color: oklch(93% 0.02 255);

	/* Accent color */
	--primary-background-active-color: oklch(60% 0.12 255);
	--primary-background-hover-color: oklch(70% 0.08 255);

	/* Text */
	--primary-text-color: oklch(20% 0.03 255);
	--secondary-text-color: oklch(40% 0.015 255);

	/* Titles */
	--primary-title-color: oklch(45% 0.1 255);

	/* Borders */
	--primary-border-color: oklch(75% 0.02 255);

	/* Buttons */
	--button-solid-background-color: oklch(18% 0.02 255);
	--button-solid-text-color: white;

	--button-outlined-background-color: transparent;
	--button-outlined-text-color: oklch(18% 0.01 255);
}

[data-theme="dark"] {
	/* Backgrounds */
	--primary-background-color: oklch(20% 0.03 255);
	--secondary-background-color: oklch(24% 0.03 255);
	--tertiary-background-color: oklch(30% 0.03 255);

	/* Accent */
	--primary-background-active-color: oklch(65% 0.12 255);
	--primary-background-hover-color: oklch(50% 0.1 255);

	/* Text */
	--primary-text-color: oklch(98% 0.01 255);
	--secondary-text-color: oklch(70% 0.015 255);

	/* Titles */
	--primary-title-color: oklch(85% 0.12 255);

	/* Borders */
	--primary-border-color: oklch(43.033% 0.01891 248.33);

	/* Buttons */
	--button-solid-background-color: oklch(90% 0.01 255);
	--button-solid-text-color: oklch(10% 0.01 255);

	--button-outlined-background-color: transparent;
	--button-outlined-text-color: oklch(92% 0.01 255);
}


.theme-options{
	background-color: var(--primary-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	border-radius: 1rem;
	gap: 10px;
}

body {
	background: linear-gradient(
		120deg,
		var(--primary-background-color) 0%,
		var(--secondary-background-color) 40%,
		var(--primary-border-color) 100%
	);
	color: var(--primary-text-color);
	font-family: "Momo Trust Display", sans-serif;
	min-height: 100vh;
}