.language-switcher {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lang-btn {
	margin-left: 0.4rem;
	width: 2.5rem;
	height: 1.7rem;
	object-fit: cover;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: all;
	transition-duration: 300ms;
}

.lang-btn:hover {
	scale: 1.1;
}
