.active {
	transition: all 0.5s ease;
	background-color: var(--primary-background-active-color);
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.active::before {
	opacity: 1;
	animation: holographic-shine 3s ease-in-out infinite;
}

@keyframes holographic-shine {
	0%, 100% {
		transform: rotate(-45deg) translateY(0%);
	}
	50% {
		transform: rotate(-45deg) translateY(100%);
	}
}

nav {
	z-index: 2000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--secondary-background-color);
	position: sticky;
	top: 0;
}

nav .title {
	font-size: 1.5rem;
	margin: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--primary-text-color);
	transition: all;
	transition-duration: 500ms;
}

nav .title:hover {
	transform: scale(110%) translateX(10%);
}

nav ul {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: var(--primary-text-color);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
}

nav ul li a::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: linear-gradient(
		0deg,
		transparent,
		transparent 30%,
		rgba(0, 255, 255, 0.3)
	);
	transform: rotate(-45deg);
	transition: all 0.5s ease;
	opacity: 0;
	z-index: -1;
}

nav ul li a:not(.active):hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
	background-color: var(--primary-background-hover-color);
}

nav ul li a:not(.active):hover::before {
	opacity: 1;
	transform: rotate(-45deg) translateY(100%);
}

nav .menu {
	display: none;
	position: absolute;
	top: 0.75rem;
	right: 0.5rem;
	flex-direction: column;
	justify-content: space-between;
	width: 2.25rem;
	height: 2rem;
}

nav .menu span {
	height: 0.4rem;
	width: 100%;
	background-color: var(--primary-background-color);
	border-radius: 0.2rem; 
}

nav ul li.theme-option-item {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
	padding-left: 0.5rem;
	border-left: 1px solid var(--primary-text-color);
}

@media (max-width: 900px) {
	nav .menu {
		display: flex;
	}

	nav {
		flex-direction: column;
		align-items: start;
	}

	nav ul {
		display: none;
		flex-direction: column;
		width: 100%;
		margin-bottom: 0.25rem;
		gap: 0;
	}

	nav ul.open {
		display: flex;
	}

	nav ul li {
		width: 100%;
		text-align: center;
	}

	nav ul li a {
		margin: 0.2rem 0.5rem;
	}

	nav ul li.theme-option-item {
		border-left: none;
		border-top: 1px solid var(--primary-text-color);
		margin-left: 0;
		padding-left: 0;
		padding-top: 0.5rem;
		margin-top: 0.5rem;
		justify-content: center;
	}
}