.theme-toggle {
	margin-left: 0.2rem;
	/* margin-right: 0.8rem; */
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: all;
	transition-duration: 500ms;
}

.theme-toggle:hover {
	transform: rotate(-360deg) scale(1.2) ;
}

.theme-icon {
	width: 1.5rem;
	height: 1.5rem;
	animation: iconFadeIn 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes iconFadeIn {
	0% {
		opacity: 0;
		transform: rotate(-180deg) scale(0.5);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg) scale(1);
	}
}

body {
	transition: background-color 0.3s ease, color 0.3s ease;
}
